

.achievement__wrapper {
    background-color: #cccccc;
    padding: 32px 0;
}

.achieve__title, .desti__title {
    font-size: 3.2rem;
    font-weight: 500;
    padding: 32px 0;
    color: var(--primary-color);
    text-align: center;
    letter-spacing: 0.5px;
}

.achievement__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.achieve__item {
    margin-top: 24px;
    width: 33.3333%;
}

.achieve__item__inner {
    width: 80%;
    margin: auto;
    padding: 16px;
    background-color: var(--white-color);
}

.achieve__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.achieve__content {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.name-and-score {
    display: flex;
    justify-content: space-between;
}

.achieve__name, .achieve__score, .achieve__school, .achieve__year { 
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--primary-color);
}

.achieve__name {

}

.achieve__score {

}

.achieve__school {

}

.achieve__year {

}